



{# <script src="/static/js/3Dmol-min.js" crossorigin="anonymous"></script> #}

<script src="/static/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<!-- <script src="/static/js/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
{# <script src="/static/js/jquery-3.2.1.slim.js"  crossorigin="anonymous"></script>  #}

<script src="/static/js/jquery.jspanel-compiled.js"  crossorigin="anonymous"></script> 

{# <script src="/static/js/pv.min.js" crossorigin="anonymous"></script> #}

    
<script src="/static/js/tether.min.js"
 crossorigin="anonymous"></script>
    
{# <script src="/static/js/bootstrap.min.js"></script> #}
<script src="bootstrap.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script src="/static/js/d3.v4.min.js"></script>



<link rel="stylesheet" href="/static/js/jquery.jspanel.css"  crossorigin="anonymous">

<link rel="stylesheet" href="/static/js/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link rel="stylesheet" href="/static/js/font-awesome.min.css">






<!--   <link rel="stylesheet" href="/style.css">
  <script src="/merge_tree.js"></script>
 -->
<script type="text/javascript">
function addslashes(string) {
    return string.replace(/\\/g, '\\\\').
        replace(/\u0008/g, '\\b').
        replace(/\t/g, '\\t').
        replace(/\n/g, '\\n').
        replace(/\f/g, '\\f').
        replace(/\r/g, '\\r').
        replace(/'/g, '\\\'').
        replace(/"/g, '\\"');
};
</script>

<style type="text/css">
    
.not_bold{
    font-weight:normal
}​

</style>


<script type="text/javascript">
var clipboard = Clipboard('.copy');
// var clipboard = new Clipboard(btns);
clipboard.on('success', function(e) {
    console.log(e);
});
clipboard.on('error', function(e) {
    console.log(e);
});
console.log(clipboard)
    // new Clipboard('.btn');

//   function highlight(j_alias){
//   $(j_alias).addClass('bg-info').siblings().removeClass('bg-info');
//   // $('body').
//   // $(j_alias).get(0).scrollIntoView();
//   // scrollTo(j_alias)
//   // $(j_alias).get(0).click();
// }
// $( document ).ready(function() {

//   $('.clickable-row').click(function() {
//       // $(this).addClass('highlight').siblings().removeClass('highlight');
//       // $(this).addClass('active').siblings().removeClass('active');

//       // $(this).addClass('bg-info').siblings().removeClass('bg-info');
//       highlight(this);
//       // $(j_alias).addClass('bg-info').siblings().removeClass('bg-info');

//       // $(this).find("#view3d").attr("href").eval();
//       // $(this).find("#view3d").trigger()
//       var elem = $(this).find("#view3d");
//       elem = elem.get(0);
//       elem.click();
//       console.dir(elem);
//       });

// });
// $(function () {
//   $('[data-toggle="popover"]').popover()
// })

</script>


{# Loading customised filer #}
{% load util_filter %}
